.basket-item {
  & > .info {
    display: flex;
    gap: 0.5rem;

    & > span:nth-child(2) {
      flex: 1;
    }
  }

  & > .actions {
    display: flex;
  }
  .remove-button {
    background: #f4f6e6;
    color: #8ea604;
    border-radius: 6px;
    cursor: pointer;
  }
}
